{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title   %}Kalit so'zini almashtirish {% endblock title %}
{% block content %}
<h1>Kalit so'zni almashtirish</h1>
<p>Avval eski kalit sozini kiriting keyin esa yangi kalit sozini ikki marotaba kiriting.</p>
<form action="" method="post">{% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-success" value="O'zgartirish">
</form>
<a href="{% url 'home' %}">
    <button class="btn btn-success">Bosh sahifaga qaytish</button>
</a>
{% endblock content  %}